<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="end" name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment scrollable value="1">

    <ion-segment-button value="1">
      <ion-label>Gallery</ion-label>
    </ion-segment-button>


    <ion-segment-button value="2">
      <ion-label>Map</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-content>